omegaconf==2.3.0
Pillow
einops==0.7.0
git+https://github.com/tatsy/torchmcubes.git
transformers==4.35.0
trimesh==4.0.5
rembg
onnxruntime
huggingface-hub
imageio[ffmpeg]
gradio
xatlas
moderngl==5.10.0
